{% extends "layout_home.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block next_content %}

<div class="container">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
    </div>

    <a class="nav-link text-end" href="{% url 'marcas' %}">Back to Marcas<i class="fa-solid fa-backward"></i> </a>

    <div class="row reflexion justify-content-around align-items-center" style="padding-top:20px;">
        <div class="col-12 col-md-5 border bg-light" style="padding-bottom:15px;">
            <h2 class="h1-responsive font-weight-bold text-center my-4">Añadir Nueva Marca</h2> 

            <p class="lead text-center">Aqui puedes añadir las marcas que gustes!</p>
            <div class="col-lg-6 mx-auto">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
            </div>
            
            <div class="form-group">
                <form action = "" method = "post">{% csrf_token %}
                    <!-- Marca -->
                    <label for="{{ form.marca.id_for_label }}" class="col-sm-2 col-form-label fs-5"><b>Marca:</b></label>
                    {{ form.marca.errors }}
                    {{ form.marca|add_class:"form-control" }}
                    <!-- Pais -->
                    <label for="{{ form.pais.id_for_label }}" class="col-sm-4 col-form-label fs-5"><b>Pais:</b></label>
                    {{ form.pais.errors }}
                    {{ form.pais|add_class:"form-control" }}
                    <!-- Ano Origen -->
                    <label for="{{ form.ano_origen.id_for_label }}" class="col-sm-4 col-form-label fs-5"><b>Año Origen:</b></label>
                    {{ form.ano_origen.errors }}
                    {{ form.ano_origen|add_class:"form-control" }}
                    <!-- Contacto -->
                    <label for="{{ form.contacto.id_for_label }}" class="col-sm-2 col-form-label fs-5"><b>Contacto:</b></label>
                    {{ form.contacto.errors }}
                    {{ form.contacto|add_class:"form-control" }}

                    <div class="row justify-content-between">
                        <div class="col-lg-6 mx-auto">
                            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-right:30px;">
                            <input type="submit" value="Añadir Marca" class="col-12 btn btn-secondary">
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>   
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
    </div>

 </div>  

{% endblock %}