{% extends "layout_home.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block next_content %}
<div class="container">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
    </div>

    <a class="nav-link text-end" href="{% url 'marcas' %}">Back to Marcas<i class="fa-solid fa-backward"></i> </a>

    <div class="row reflexion justify-content-around align-items-center" style="padding-top:20px;">
        <div class="col-12 col-md-5 border bg-light" style="padding-bottom:15px;">
            <h2 class="h1-responsive font-weight-bold text-center my-4">Buscar Marcas</h2> 

            <p class="lead text-center">Aqui puedes buscar tus marcas favoritas!</p>
            <div class="col-lg-6 mx-auto">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
            </div>
            
            <div class="form-group">
                <form action = "" method = "post">{% csrf_token %}
                    <!-- Buscador -->
                    
                        {{ form.as_p }}
                        <button type="submit" class="col-12 btn btn-secondary">Buscar Marca</button>
                    

                    </form>

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>

                    {% if resultados %}
                        <div class="d-flex align-items-center flex-column">
                                    
                            <table class="table table-striped table-hover shadow-lg p-3 mb-5 bg-white rounded-3">
                                <thead>
                                    <tr class="table-secondary">
                                        <th scope="col" style="text-align:center">MARCA</th>
                                        <th scope="col" style="text-align:center">PAIS</th>
                                        <th scope="col" style="text-align:center">AñO ORIGEN</th>
                                        <th scope="col" style="text-align:center">CONTACTO</th>
                                    </tr>
                                </thead>
                                <tbody>
            
                                    {% for marca in resultados %}
            
                                        <tr>
                                            <td style="text-align:center"> {{ marca.marca }}</td>
                                            <td style="text-align:center"> {{ marca.pais }}</td>
                                            <td style="text-align:center"> {{ marca.ano_origen }}</td>
                                            <td style="text-align:center"> {{ marca.contacto }}</td>
                                        </tr> 
            
                                        {% empty %}
            
                                        <tr>
                                            <td colspan="5" style="text-align:center"> No existen marcas </td>
                                        </tr> 
            
                                    {% endfor %}
            
                                </tbody>
                            </table>
            
                            <div class="col-lg-6 mx-auto">
                                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
                            </div>
                        </div>
                    {% endif %}
                    
            </div>
        </div>  
    </div>   
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
    </div>

 </div>  

{% endblock %}