{% extends "layout_home.html" %}
{% load static %}

{% block next_content %}

<header class="text-black text-center">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
      </div>
    
    <div class="container d-flex align-items-center flex-column">  
        
        <h1 class="heading display-4 fw-bold">Bienvenido al Blog de Bolsos!</h1>
        
    </div>
    <div class="index-div col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
        <p class="lead mb-4">
          En este sitio podras añadir los datos de tus marcas favoritas, y las carteras que tengas actualmente!
        </p>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/img_bolso1.jpg' %}" class="img-left d-block w-100" alt="Coco Channel" height="550" width="600">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/img_bolso2.jpg' %}" class="d-block w-100" alt="Louis Vuitton" height="550" width="600">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/img_bolso3.jpg' %}" class="d-block w-100" alt="Christian Dior" height="550" width="600">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


</header>


{% endblock %}