{% extends "layout_home.html" %}
{% load static %}

{% block next_content %}

<header class="text-black text-center">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
        {% if messages %}
            <ul class="messages alert alert-success">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
      
    <div class="container d-flex align-items-center flex-column"> 
        <h1 class="text-uppercase mb-0">Bienvenid@ {{ user_data.first_name }} !!</h1> 
        <h1 class="mb-0">Tu Blog de Bolsos y Zapatos!</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
    </div>
    <div class="index-div col-lg-6 mx-auto bg-white">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
        <p class="lead mb-4">En este sitio podras guardar todas las carteras y zapatos que tengas!</p>        
        <p class="lead mb-4">Puedes navegar por las pestañas de <b>Carteras</b>, <b>Zapatos</b> y añadir tus <b>Marcas</b> favoritas.</p>
        <p class="lead mb-4">Alli podras añadir, buscar, editar y borrar todos los registros que tengas guardados.</p>
        <p class="lead mb-4">Y recuerda que ante cualquier consulta puedes encontrarnos en nuestras redes sociales y con gusto te ayudaremos!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
    </div>


</header>

<script>
    // desaparece el mensaje despues de 3 segundos
    setTimeout(function() {
        var messages = document.querySelector('.messages');
        if (messages) {
            messages.style.display = 'none';
        }
    }, 3000);
 </script>
{% endblock %}