{% extends "layout_home.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block next_content %}

<header class="text-black text-center">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
      </div>
    
    <div class="container d-flex align-items-center flex-column">  
        
        <h1 class="heading display-4 fw-bold">PROXIMAMENTE!</h1>
        
    </div>
    <div class="index-div col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
        <p class="lead mb-4">
          Dentro de poco podras loguearte donde podras añadir tus reseñas, fotos y mucho mas, quedate atent@!!
        </p>
        
    </div>


</header>
{% endblock %}