{% extends "layout_index.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block next_content %}

<div class="container">
  <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
  </div>
  <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
          <div class="d-none d-md-flex"></div>
          
          <div class="card-body">
              
              <h4 class="title text-center mt-4">
                  Log Into your Account
              </h4>

              <form method="post" action="{% url 'login' %}" class="form-box px-3">{%csrf_token%}

                  {% if invalidate_auth %}
                      <div class="list-group mb-3">
                          <a href="#" class="list-group-item list-group-item-action list-group-item-danger"><b>Error:</b> You have entered incorrect username or password</a>
                      </div>
                  {%endif%}
                  
                  <div class="form-floating mb-3">
                      {{ form.user.errors }}
                      {{ form.user|add_class:"form-control" }}
                      <label for="floatingInput">Username</label>
                  </div>
                  
                  <div class="form-floating mb-3">
                      {{ form.password.errors }}
                      {{ form.password|add_class:"form-control" }}
                      <label for="floatingInput" >Password</label>
                  </div>

                  <br>

                  <div class="text-center mb-3">
                      <input class="btn btn-secondary btn-lg" type="submit" value="Log in" required="">
                  </div>

              </form>
              <br>
              <div class="mb-3 text-center">
                  <a href="#">Forgot your password?</a>
              </div>
              
              <div class="mb-3 text-center">
                  <a href="{% url 'register' %}">Not a member?</a>
              </div>                     
          
          </div>
      </div>
  </div>
</div>

{% endblock %}